[package]
name = "headers"
version = "0.3.1" # don't forget to update html_root_url
description = "typed HTTP headers"
license = "MIT"
readme = "README.md"
homepage = "https://hyper.rs"
repository = "https://github.com/hyperium/headers"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
keywords = ["http", "headers", "hyper", "hyperium"]
categories = ["web-programming"]

[workspace]
members = [
    "./",
    "headers-core",
]

[dependencies]
http = "0.2.0"
headers-core = { version = "0.2", path = "./headers-core" }
base64 = "0.11"
bitflags = "1.0"
bytes = "0.5"
mime = "0.3.14"
sha-1 = "0.8"
time = "0.1.34"
language-tags = "0.2.2"

[features]
nightly = []
