[package]
name = "headers"
version = "0.0.0" # don't forget to update html_root_url
description = "typed HTTP headers"
readme = "README.md"
homepage = "https://hyper.rs"
license = "MIT"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
keywords = ["http", "hyper", "hyperium"]
categories = ["network-programming", "web-programming::http-client", "web-programming::http-server"]

publish = false

include = [
  "Cargo.toml",
  "LICENSE",
  "src/**/*"
]

[workspace]
members = [
    "./",
    "headers-core",
    "headers-derive",
    "headers-ext",
]

[dependencies]
http = "0.1.14"
headers-core = { path = "./headers-core" }
headers-derive = { path = "./headers-derive" }
headers-ext = { path = "./headers-ext" }

